// font
$font-family: 'Raleway', sans-serif;

// colors
$white: #f3f3f3;
$lightgray: #cdcdcd;
$darkgray: #303030;

// widgets
$widget-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
$widget-border-radius: 0.5rem;

// login
$login-width: 330px;

// index
$menu-selector-height: 60px;
$menu-selector-width: 300px;
$menu-selector-button-size: 30px;

$basic-border-radius: 0.3rem;
$basic-padding: 0.5rem;
$basic-font-size: 0.8rem;
$basic-margin: 0.5rem;
$no-hover-opacity: 0.9;
